<div id="<%= dom_id product %>" class="product-container">
  <p>
    <strong>Имя:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Цена:</strong>
    <%= product.price %>
  </p>
</div>
