<% content_for :title, @product.new_record? ? "Новый продукт" : "Редактирование" %>

<div class="container">
  <h1><%= @product.new_record? ? "Добавить продукт" : "Редактировать продукт" %></h1>

  <%= render "form", product: @product %>

  <%= link_to "Назад", products_path, class: "back-link" %>
</div>
